html, body{
	background-color:#000;
	color: #fff;
}

#container{
	grid-area: top;
	text-align: center;
	display: grid;
	grid-template-rows: 1fr 2fr 2fr;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: 'top top top'
						 'mid mid mid'
						 'btm btm btm';
}

#nav{
	text-align: left;
	margin-bottom: 1em;
}

#nav-bar{
	height: 3em;
	padding-bottom: 0.3em;
	border-bottom: 0.1em solid #fff;
}

.branding{
	font-family: 'Playfair Display', serif;
	font-size: 2.5em;
	cursor: pointer;
	color: #fff;
}

.hidden-letters{
	display:none;
}

.nav-btns{
	float: right;
	padding-right: 1.5em;
	padding-top: 1.5em;
	text-decoration: none;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
}

.active{
	color: #aaa;
	margin: 0;
	cursor: pointer;
}

#greeting{
	grid-area: mid;
	text-align:center;
}
#greeting > h1{
	font-family: 'Merriweather', serif;
}
#greeting > p{
	font-family: 'Montserrat', sans-serif;
}