html, body{
	background-color: #000;
	color: #fff;
}

#project-grid{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}

#showcase{
	list-style: none;
	padding: 0;
	margin: auto;
	font-family: 'Montserrat', sans-serif;
}

#showcase > li{
	width: 85%;
	margin: 2em;
	text-align: center;
	border: 0.1em solid #fff;
	padding: 20px;
	display: inline-grid;
	grid-template-rows: 1fr 6fr 2fr;
	grid-template-areas: 'toprow'
						 'main'
						 'btmrow';
}

#showcase > li > p.role {
	grid-area:toprow;
	text-align: left;
	margin: 0;
	padding: 0;
}

#showcase > li > p.languages {
	grid-area:btmrow;
	text-align: left;
	padding: 0;
	width: 70%;
	display: inline-block;
}

#showcase > li > a.github{
	grid-area: btmrow;
	text-align: right;
	display: inline-block;
}

#showcase > li > p.languages, #showcase > li > a.github{
	margin-top: 2em;
}

#showcase > li > div.main-info{
	display: inline-block;
	padding: 4em 2em 0em 2em;
	grid-area:main;
}

div.main-info > a{
	text-decoration: none;
	color: #fff;
}
div.main-info > a > h3{
	font-family: 'Merriweather', serif;
	text-decoration: underline;
	cursor: pointer;
}
.main-info > p{
}