html {
	height: 100%;
}

@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Raleway|Anonymous+Pro|Cutive+Mono|Source+Code+Pro&display=swap');

body {
	margin: 0;
	font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI',
		'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #efeeee !important;
	height: 100%;
}

h1 {
	font-family: 'Anonymous Pro', monospace !important;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
